<h1>Student List</h1>
<a href="/add">Add Student</a>

<ul>
  <% students.forEach(student => { %>
    <li>
      <%= student.name %> - <%= student.email %> - <%= student.course %>
      <a href="/edit/<%= student._id %>">Edit</a>
      <form action="/delete/<%= student._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
